.header{
  position: relative;
  color: red;
  width: 200px;
  height: 200px;
  border-color: blue;
  opacity: 1;
  margin: 0;
}

.red{
  background-color: #0f45af;
  width: 10px;
  height: 10px;
  position: relative;

}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

#josh {
  width: 36vw;
  position: absolute;
  left: 32vw;
  top: 20vw;
}


/*@media(max-width: 500px){
  #josh {
    width: 36vw;
    position: absolute;
    left: 32vw;
    top: 57vw;
  }
}*/

@media(max-width: 500px){
  #josh {
    width: 36vw;
    position: absolute;
    left: 32vw;
    top: 75vw;
  }
}

@media(min-width: 500px){
  #josh {
    width: 36vw;
    position: absolute;
    left: 32vw;
    top: 57vw;
  }
}

@media(min-width: 700px){
  #josh {
    width: 36vw;
    position: absolute;
    left: 32vw;
    top: 39vw;
  }
}

@media(min-width: 900px){
  #josh {
    width: 36vw;
    position: absolute;
    left: 32vw;
    top: 28vw;
  }
}

@media(min-width: 1200px){
  #josh {
    width: 25vw;
    position: absolute;
    left: 32vw;
    top: 20vw;
  }
}
